@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Audiowide&family=Bad+Script&family=Edu+TAS+Beginner:wght@400;500&family=Holtwood+One+SC&family=Josefin+Slab:wght@300&family=Kay+Pho+Du:wght@400;700&family=Lato:wght@300;400&family=Peralta&family=Roboto+Slab:wght@500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Audiowide', sans-serif;
}
body{
    background-image: url(./img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    max-width: 900px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 1rem;

}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li >a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu-horizontal > li:hover{
    background-color:red;
}

.menu-vertical{
 position: absolute;
 display: none;
 list-style: none;
 width: 200px;
 background-color: rgba(0, 0, 0, .5)
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: black;
}

.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

